/* Comportamento no desktop */

body {
    min-height: 100vh;
    background-color: black;
}

.header {
    margin-bottom: 20px;
    margin: 0 auto;
}

.row-menu nav {
    margin-bottom: 20px;
    margin: 0 auto;
}

.navbar {
    padding: 0px;
}

.container-fluid {
    background: linear-gradient(90deg,
    rgba(166, 5, 18, 1) 28%,
    rgba(13, 13, 13, 1) 77%);
    padding: 0px;
    color: white;
}

.container-fluid1 {
    background-color: black;
}

.container-fluid > img {
    width: 150px;
    padding: 10px;
}

.navbar-nav {
    margin-left: 0px;
}

.navbar-nav:hover {
    color: black;
}

#navbarSupportedContent > ul > li > a{
    color: white;
    font-weight: bold;
}

#navbarSupportedContent > ul > li > a:hover{
    color: black;
    font-weight: bold;
}

.bnt-menu {
    margin-right: 70px;
}

#busca {
    color: white;
    border-color: white;
}

#busca:hover {
    color:white;
    border-color: darkred;
    background: darkred;
}

.row carousel_div {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.titulo {
    padding: 30px 0;
    color: white;
}

.row carousel_div > h1 {
    padding: 15px;
    size: 50%;
}

.carousel-item active {
    width: 100%;
    height: 100%;
}

.sinopse1 {
    width: 45%;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 80%;
}

.item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.item > iframe {
    width: 80%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.sinopse2 {
    width: 45%;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 80%;
}

.item2 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.item2 > iframe {
    width: 80%;
}

.sinopse3 {
    width: 45%;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 80%;
}

.item3 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.item3 > iframe {
    width: 80%;
}

.sinopse4 {
    width: 45%;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 80%;
}

.item4 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.item4 > iframe {
    width: 80%;
}

.titulo-card {
    margin-top: 20px;
}

.dropdown {
    margin-top: 20px;
    width: 100%;
    text-align: right;
}

.dropdown-toggle {
    background-color: rgb(26, 18, 18);
    color: white;
}

.dropdown-toggle:hover {
    color: rgb(20, 22, 22);
    background-color: rgb(26, 18, 18);
}

#dropdownMenuLink{
    color: white;
    background: linear-gradient(90deg,
    rgba(166, 5, 18, 1) 28%,
    rgba(13, 13, 13, 1) 77%);
}

.dropdown-menu {
    background: rgb(36, 29, 29);
    color: white;
}

#categoria > li > a{
    color: white;
}

.card {
    color: white;
    background: black;
    margin-bottom: 30px;
}

.card > img {
    width: 150px;
}

.botao_card {
    width: min-content;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

#botao-filmes{
    background: black;
    color: white;
    width: 120px;
}

.conteudo-titulo {
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.card-body {
    background: linear-gradient(90deg,
            rgba(166, 5, 18, 1) 28%,
            rgba(13, 13, 13, 1) 77%);
    color: white;
}

.botao_card {
    float: right;
    margin-left: 80%;
}

.card-entrevista {
    background: linear-gradient(90deg,
            rgba(166, 5, 18, 1) 28%,
            rgba(13, 13, 13, 1) 77%);
    border-color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    flex: 1;
    min-width: 300px !important;
}

#btn-info {
    width: 120px;
    background: black;
    color: white;
}

.card-img-novidades1 {
    width: 300px;
}

.card-img-novidades {
    width: 200px;
    padding-right: 20px;
}

.tags-novidades > span {
    margin-right: 10px;
}

.texto-site {
    color: white;
}

.conteudo-editorial {
    color: white;
}

.icones {
    color: white;
    padding-left: 40px;
    margin-left: 20px;
}

.footer {
    background: linear-gradient(90deg,
            rgba(166, 5, 18, 1) 28%,
            rgba(13, 13, 13, 1) 77%);
    color: white;
    padding: 6px 0;
}

.footer > div > div {
    justify-content: space-between !important;
}

.footer > div > div > img {
    width: 120px;
}

/* Breakpoints */

@media screen and (min-width: 415px) and (max-width: 540px) {
    .lancamento {
        display: none;
    }
    .titulo {
        display: none;
    }
    button.navbar-toggler {
        background-color: white;
    }
    .card {
        width: 100%;
        margin: auto;
    }
    .botao_card {
        display: none;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .lancamento {
        display: none;
    }
    .titulo {
        display: none;
    }
    button.navbar-toggler {
        background-color: white;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo-menu {
        width: 120px;
    }
}

@media screen and (max-width: 414px) {
    .lancamento {
        display: none;
    }
    .titulo {
        display: none;
    }
    button.navbar-toggler {
        background-color: white;
    }
    .botao_card {
        display: none;
    }
    .card {
        width: 100%;
        margin: auto;
    }
    #dropdownMenuLink {
        display: none;
    }
}